*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}


#header{
    height:120px ;
}
nav{
    max-width: 1600px;
    margin: 0 auto;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

nav .menu {
    display: flex;
    list-style-type: none;
    list-style: none;
    justify-content: space-between;
    gap:32px;
    font-size: 16px;
    font-weight: 500;
    color: #001931; 
}
nav .menu a{
    text-decoration: none;
}
.btn{
    font-size: 16px;
    color: #ffff;
    background-color: #469165;
    padding: 16px 12px;  
    border-radius: 4px;
    border: none;
    font-weight: 600;  
    cursor: pointer;
}
#btn-visibility{
    background-color:#ffffff00;
    border-width: medium;
    color:#ffff;
}

/* hero Section */

.hero-container {
    margin: 0 auto;
    max-width: 1600px;
    height: 675px;
    text-align: center;
    align-content: center;
    padding: 70px 120px 130px;
    max-width: 1360px;

}
.main-section h3{
    color: #469165;
    background-color: white;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 100px;
    display: inline-block;
}
#background-image{
    background-image: url(/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.hero-container p{
    font-size: 16px;
    color: #ffff;
    line-height: 24px;
    margin-bottom: 32px;
}
.main-section h1 {
    width: 770px;
    
    font-size: 72px;
    height: auto;
    width: fit-content;
    text-align: center;
    align-items: center;
    font-weight: 700px;
    margin:0 auto;
    

    color:#ffff;
}
.main-section .highlighted-color-2{
    color: #469165;
}

/* section-3 */

.section-heading{
    margin: 0 auto;
    height: 500px;
    max-width: 1600px;
    padding:120px ;
    /* align-items: center; */
    align-content: center;
    text-align: center;
    
}

.section-heading h1{
    font-size: 48px;
    color: #001931;
    font-weight: 700;
    font-size: bold;
    line-height: 58px;
    padding-top: 20px;
    
}
.section-heading p{
    margin-top: 32px;
    text-align: center;
    font-size: 16px;
    color:#001931;
    line-height: 20px;
    

}
.section-heading .card-item{
    display: flex;
    justify-content: space-between;
    
}
.card-item{
    gap:24px;
    padding: 24px;
    justify-content: center;
    
}
.card-style{
    width: 322px;
    height: 300px;;
    margin: 5px;
    padding: 24px;
    gap: 16px;
    align-items: center;
    text-align: center;
    background-color: #ffff;
    border-radius: 8px;
    box-shadow:0px 0px 8px 0px rgba(0, 0, 0, 0.06) ;
    border-bottom: 4px;
}
.card-style img{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 100px;
}
.card-item .card-style h4{
    font-size: 24px;
    font-weight:600;
    color: #001931;
}
.card-item .card-style p{
    font-size: 16px;
    line-height: 26px;
    color:#627382;
}

/* the soloution section */

.soloution-container{
    max-width: 1600px;   
    margin: 0px auto;
    height: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 60px;
    padding:120px;
    justify-content:flex-start;

}
.soloution-container h3{
    width: 500px;
    font-size: 24px;
    font-weight: 600;
    color:#469165 ;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
}
.soloution-container h2{
    font-size: 48px;
    color: #001931;
    font-weight: bold;
    line-height: 54px;
    padding: 36px 0 0 0;
    text-transform: capitalize;
}
.soloution-container p{
    font-size: 16px;
    font-weight: 500;
    color: #627382;
    margin:16px 0;
    gap: 40px;
    line-height: 20px;
}

.soloution-container .text-icon h4{
    display: flex;
    justify-content: left;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    padding: 10px 0px;
    gap: 6px;
    color: #001931;   
}

/* Thinks more section */
.Think-container{
    width: 1360px;
    max-width: 1600px;
    height: 500px;
    margin:0 auto;
    padding: 0px 120px 120px 120px ;
    text-align: center;
    align-items: center;
    
}
.Think-container .box-section{
    height: 380px;
    padding: 80px 40px;
    align-items: center;
    align-content: center;
    border-radius: 12px;
    background-color: #F7F6F2;
    
}
.Think-container .box-section h1{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}
.Think-container .box-section p{
    margin-top: 16px;
    text-align: center;
    font-size: 16px;
    color:#627382;
    line-height: 24px;
    padding-bottom: 24px;

}

/* footer section */
footer{
    
    margin-top: 40px;
    background-color: #001931;
    padding: 120px 0px 30px 0px;
}
footer .footer-section{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    
}
.footer-section .social{
    max-width: 220px;
}
.footer-section h2{
    color: #fff;
    font-size: 20px;
    font-weight:500 ;
    margin-bottom: 16px;

}
.footer-section .icons a {
    margin:36px 16px;
}
.footer-container p{
    color: #FAFAFA;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-top: 30px;
}
