*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
}
/* whole body inter fonts */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

#header{
    height:100px ;
    align-content: center;
}
nav{
    max-width: 1600px;
    margin: 0 auto;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
} 

nav .menu {
    display: flex;
    list-style-type: none;
    list-style: none;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 600;
    
}
nav .menu li a{
    color:#001931;
}
nav .menu li a{
    margin: 0px 32px;
    padding: 16px 12px;
    border-radius: 4px;
    
}
nav .menu li a:hover{
    background-color: #469165;   
}
nav .menu a {
    text-decoration: none;
    color: #001931;
}
.btn{
    font-size: 16px;
    color: #ffff;
    background-color: #469165;
    padding: 16px 12px;  
    border-radius: 4px;
    border: none;
    font-weight: 600;  
    cursor: pointer;
}
.btn-2{
    font-size: 16px;
    color: #ffff;
    background-color: transparent;
    padding: 16px 12px;  
    border-radius: 4px;
    border:1px solid #fff;
    font-weight: 600;  
    cursor: pointer;
}
.main-section .button-gap{
    display: block;
    gap: 30px;
}
.btn:hover{
    background-color: #F95555;
    color: white;
}
.btn-2:hover{
    background-color: #469165;
    color: white;
}

/* hero Section start here */

.hero-container {
    margin: 0 auto;
    max-width: 1600px;
    height: 675px;
    text-align: center;
    align-content: center;
    padding: 70px 120px 130px;
    max-width: 1360px;

}
.main-section h3{
    color: #469165;
    background-color: white;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 100px;
    display: inline-block;
    
}
#background-image{
    background-image:url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.hero-container p{
    font-size: 16px;
    color: #ffff;
    line-height: 24px;
    margin-bottom: 32px;
}
.main-section h1 {
    width: 770px;   
    font-size: 72px;
    height: auto;
    width: fit-content;
    text-align: center;
    align-items: center;
    font-weight: 700px;
    margin:0 auto;
    color:#ffff;
}
.main-section .highlighted-color-2{
    color: #469165;
}
/* hero section ends here */

/* Card Section stars */
.section-heading{
    margin: 0 auto;
    height: 500px;
    max-width: 1600px;
    padding:120px ;
    align-content: center;
    text-align: center;
    
}
.section-heading h1{
    font-size: 48px;
    color: #001931;
    font-weight: 700;
    font-size: bold;
    line-height: 58px;
    padding-top: 20px;
    
}
.section-heading p{
    margin-top: 32px;
    text-align: center;
    font-size: 16px;
    color:#001931;
    line-height: 20px;
}
.section-heading .card-item{
    display: flex;
    justify-content: space-between;
    
}
.card-item{
    margin: 100px 0px;

}
.card-item .card-style{
    width: 322px;
    height: 300px;;
    margin: 5px;
    padding: 10px;
    gap: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffff;
    border-radius: 8px;
    box-shadow:0px 0px 8px 0px rgba(0, 0, 0, 0.06) ;
    border-bottom: 4px;
}
.card-style:hover{   
    box-shadow: 0px 0px 10px 0px #00193160; 
}
.card-style .card-icon{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color:#F95555;
}
.card-style img{
    width: 32px;
    height: 32px;
    padding: 15px;
    color: #ffff;
    
}
.card-item .card-style h5{
    font-size: 20px;
    font-weight:600;
    color: #001931;
    margin-top: 20px;
}
.card-item .card-style p{
    font-size: 16px;
    line-height: 26px;
    color:#627382;
}
/* Card Section Ends */


/* the solution section starts */

.solution-container{
    max-width: 1600px;   
    margin: 120px auto;
    height: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 60px;
    padding:120px;
    justify-content:center;

}
.solution-container h3{
    width: 500px;
    font-size: 16px;
    font-weight:500;
    color:#469165 ;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
}
.solution-container h2{
    font-size: 48px;
    color: #001931;
    font-weight: bold;
    line-height: 54px;
    padding: 16px 0 0 0;
    text-transform: capitalize;
}
.solution-container p{
    font-size: 16px;
    font-weight: 500;
    color: #627382;
    margin:16px 0;
    gap: 40px;
    line-height: 20px;
}

.solution-container .text-icon h4{
    display: flex;
    justify-content: left;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    padding: 10px 0px;
    gap: 6px;
    color: #001931;   
}

/* the soloution section ends*/


.Think-container{
    width: 1360px;
    max-width: 1600px;
    height: 500px;
    margin:0 auto;
    padding: 0px 120px 120px 120px ;
    text-align: center;
    align-items: center;
    
}
.Think-container .box-section{
    height: 380px;
    padding: 80px 40px;
    align-items: center;
    align-content: center;
    border-radius: 12px;
    background-color: #F7F6F2;
    
}
.Think-container .box-section h1{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}
.Think-container .box-section p{
    margin-top: 16px;
    text-align: center;
    font-size: 16px;
    color:#627382;
    line-height: 24px;
    padding-bottom: 24px;
}
/* main section ends here */

/* footer section start*/
footer{
    
    margin-top: 40px;
    background-color: #001931;
    padding: 120px 0px 30px 0px;
}
footer .footer-section{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 16px;   
}
.footer-section .social{
    max-width: 220px;
}
.footer-section h2{
    color: #fff;
    font-size: 20px;
    font-weight:500 ;
    margin-bottom: 16px;
}

.footer-section .icons a {
    margin:36px 16px;
}
/* horizontal line css */
footer .bottom-horizontal-line{
    width: 1140px;
    max-width: 1600px;
   padding-top: 60px;
    margin: 0px auto;
    align-items: center;
    align-content: center;
    border-color: #6273829f;
    border-width: 0px 0px 1px 0px;
    
}
footer p{
    color: #FAFAFA;
    font-weight:300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-top:60px;  
}

/* footer section ends*/